<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Feeds</title>

    <!-- load bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
          integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">{{ g.username }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Pricing</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
            </li>
        </ul>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-3">
            <table class="table table-sm table-borderless table-hover">
                {% for item in g.subscriptions %}
                <tr onclick="get_stream({{ item }})" style="cursor: pointer">
                    <td>{{ item["title"] }}</td>
                    <td><span class="badge badge-secondary">{{ item["unread"] }}</span></td>
                </tr>
                {% endfor %}
            </table>
        </div>

        <div id="feeds_container" class="col-9"></div>
    </div>
</div>
</body>

<!-- load bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV"
        crossorigin="anonymous"></script>

<script type="text/javascript">
  function get_stream(item, continue_token = null, page = 1, prev_items = {}) {
    clean()

    let id = item.id;
    let url = `https://localhost:5000/feeds/${id}`;

    if (continue_token != null) {
      url += `?continuation=${encodeURIComponent(continue_token)}`
    }

    let container = document.getElementById("feeds_container"),
       spinner = document.createElement("div");

    spinner.id = "spinner"
    spinner.classList.add("spinner-border")
    container.appendChild(spinner)

    let oReq = new XMLHttpRequest();
    oReq.addEventListener("load", function () {
      let response = JSON.parse(this.responseText)
      clean()
      attach_heading(response.stream_title);
      attach_table(response.items)
      attach_controls(response)
    });
    oReq.open("GET", url);
    oReq.send();

    function attach_heading(title) {
      let heading = document.createElement("h1")
      heading.innerHTML = title;
      container.appendChild(heading)
    }

    function attach_table(items) {
      let tbl = document.createElement("table"),
         thead = document.createElement("thead"),
         tbody = document.createElement("tbody"),
         head_row = document.createElement("tr"),
         index = document.createElement("td"),
         title = document.createElement("td"),
         author = document.createElement("td"),
         cb = document.createElement("td"),
         select = document.createElement("td");

      tbl.id = "feeds_table"
      tbl.classList.add("table", "table-striped", "table-responsive", "table-sm")

      thead.classList.add("thead-light")

      title.textContent = "Title";
      author.textContent = "Author";
      cb.textContent = "Star";
      select.textContent = "Rating";

      head_row.appendChild(index)
      head_row.appendChild(title);
      head_row.appendChild(author);
      head_row.appendChild(cb);
      head_row.appendChild(select);

      thead.appendChild(head_row);


      for (let i = 0; i < items.length; i++) {
        let iitem = items[i];
        let row = document.createElement("tr"),
           index = document.createElement("td"),
           title = document.createElement("td"),
           author = document.createElement("td"),
           cb = document.createElement("td"),
           select = document.createElement("td");

        row.classList.add("table_row")

        index.textContent = i + 1;
        title.textContent = `${iitem.title}`;
        author.textContent = `${iitem.author}`;

        cb.innerHTML = "<input type=\"checkbox\" />";
        select.innerHTML = "<select><option>1</option><option>2</option><option>3</option><option>4</option><option>5</option></select>"

        row.appendChild(index)
        row.appendChild(title)
        row.appendChild(author)
        row.appendChild(cb)
        row.appendChild(select)
        tbody.appendChild(row)
      }

      tbl.appendChild(thead);
      tbl.appendChild(tbody)
      container.appendChild(tbl)
    }

    function attach_controls(response) {
      let controls = document.createElement("div"),
         next = document.createElement("button"),
         prev = document.createElement("button"),
         page_div = document.createElement("button");

      controls.classList.add("btn-group", "btn-group-sm");
      controls.id = "table_controls";

      page_div.disabled = true;
      page_div.attributes.role = "button";
      page_div.classList.add("btn", "btn-secondary")
      page_div.id = "page_div";
      page_div.innerText = `page ${page}`;

      next.attributes.role = "button";
      next.classList.add("btn", "btn-secondary")
      next.innerText = "Next >";
      next.addEventListener("click", () => {
        if (!(page in Object.keys(prev_items))) prev_items[page] = response;
        page += 1;
        get_stream(item, response["continuation"], page, prev_items)
      })

      prev.attributes.role = "button";
      prev.classList.add("btn", "btn-secondary")
      prev.innerText = "< Prev";
      prev.addEventListener("click", () => {
        page = page - 1;
        let prev_response = prev_items[page];
        clean()
        attach_heading(prev_response.stream_title)
        attach_table(prev_response.items)
        attach_controls(prev_response)
      })
      if (page === 1) prev.disabled = true

      controls.appendChild(prev);
      controls.appendChild(page_div);
      controls.appendChild(next);

      container.append(controls)
    }

  }

  function clean() {
    let table = document.getElementById("feeds_table");
    if (table)  table.innerHTML = "";

    let spinner = document.getElementById("spinner");
    if (spinner) spinner.remove()

    let container = document.getElementById("feeds_container");
    container.innerHTML = "";
  }

</script>
</html>